<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Favoritos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">  
  <ion-card *ngFor="let noticia of DataLocalService.noticias; let i = index">
    <ion-card-header>
      <ion-card-subtitle>
        <span>{{i+1}}. </span>
        <span>{{noticia.source.name}}</span>
        <div class="noticia-more">
          <ion-button (click)="lanzarMenu(noticia)" fill="clear">
            <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
          </ion-button>
        </div>
      </ion-card-subtitle>
      <ion-card-title (click)="openBrowser(article.url)">{{noticia.title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-img [src]="noticia.urlToImage" (click)="openBrowser(article.url)"></ion-img>
      <p>{{noticia.description}}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
