<ion-list>
  <ion-card *ngFor="let article of news; let i = index">
    <ion-card-header>
      <ion-card-subtitle>
        <span>{{i+1}}. </span>
        <span>{{article.source.name}}</span>
        <div class="noticia-more">
          <ion-button (click)="lanzarMenu(article)" fill="clear">
            <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
          </ion-button>
        </div>
      </ion-card-subtitle>
      <ion-card-title (click)="openBrowser(article.url)">{{article.title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-img [src]="article.urlToImage" (click)="openBrowser(article.url)"></ion-img>
      <p>{{article.description}}</p>
    </ion-card-content>
  </ion-card>

  <ion-infinite-scroll threshold="25%" position="bottom" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-list>